<%- include("partials/header.ejs") %>

    <body>

        <h1>test</h1>
        <% if (locals.photoURL) { %>
            <img src="<%=photoURL%>" alt="">
            <% } %>
                <% if (locals.alert) { %>
                    <%=alert%>
                        <% } %>

                            <form action="" method="post">

                                <input type="date" min="2004-01-04" max="<%=highestPossibleDate%>" name="date"
                                    id="chosen-date">
                                <input type="submit" value="submit" formaction="/submit">
                            </form>

    </body>

    <%- include("partials/footer.ejs") %>