<%- include("partials/header.ejs") %>

    <body>
        <% if (photo !="" ) { %>
            <img src="<%= photo.img_src%>" alt="">
            <h1> Photo taken by the <%=photo.rover.name%> rover and it's <%=photo.camera.full_name%> on
                        <%=photo.earth_date%> Earth date.
            </h1>
            <% }else{ %>
                <h1>Unfortunately, no rovers took a photo that day</h1>
                <%}%>
                    <form action=""> Choose another rover
                        <select name="rover" id="roverInput">
                            <% for(const r of rovers) { %>

                                <option value="<%=r.name%>">
                                    <%=r.name%>
                                </option>
                                <% } %>

                        </select>
                        <select name="camera" id="cameraInput">
                        </select>
                    </form>

                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
                    <script src="/scripts/photo.js"></script>
    </body>

    <%- include("partials/footer.ejs") %>