<%- include("partials/header.ejs") %>

    <body>
        <% if (photo !="" ) { %>
            <img src="<%= photo.img_src%>" alt="">
            <h1> Photo taken by the <%=photo.rover.name%> rover and it's <%=photo.camera.full_name%>
            </h1>
            <% }else{ %>
                <h1>Unfortunately, no rovers took a photo that day</h1>
                <%}%>
    </body>

    <%- include("partials/footer.ejs") %>